@page "/SSGO/Submited-date/{submitId}";

@inject NavigationManager NavManager;
@inject IJSRuntime JsRuntime;

@inject Services.IDateService dateservice;
@inject Services.ISubmitService submitservice;
@inject Services.ITeacherService teacherservice;

@using Models

<nav class="navbar-master">
    <div class="container">
        <a href="/SSGO/Submited-dates" class="left-button"><div style="margin-top: 12px;">POJDI<br />NAZAJ</div></a>
        <a class="welcome-container">PRIJAVLJENI TERMIN</a>
    </div>
</nav>

<div class="fullscreen" style="background-color: #a9d046">
    <div class="client-form">
        <form onsubmit="@CheckSubmit">
            <table style="width: 100%;">
                <tr>
                    <td class="left-td-client" style="width: 30%;">
                        <input type="text" class="textbox" @bind="submit.Firstname" placeholder="Ime" readonly />
                        <br />
                        <input type="text" class="textbox" @bind="submit.Surname" placeholder="Priimek" readonly />
                        <br />
                        <input type="email" class="textbox" @bind="submit.Email" placeholder="E-poštni naslov" readonly />
                        <br />
                        <input type="text" class="textbox" @bind="submit.PhoneNumber" placeholder="Telefonska številka" readonly />
                        <br />
                        <input type="text" class="textbox" @bind="submit.SchoolTitle" placeholder="Naziv šole" readonly />
                        <br />
                        <input type="text" class="textbox" @bind="submit.Address" placeholder="Naslov šole" readonly />
                    </td>
                    <td class="right-td-client" style="width: 30%;">
                        <input type="number" class="textbox" min="5" max="9" @bind="submit.Class" placeholder="Razrednja stopnja" readonly />
                        <br />
                        <input type="text" class="textbox" @bind="date.Term" readonly>
                        <br />
                        <input type="number" placeholder="Število učencev" min="0" class="textbox" @bind="submit.NumberOfStudents" readonly />
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <input type="time" class="textbox" readonly @bind="submit.Start" />
                                </td>
                                <td>
                                    <input type="time" class="textbox" readonly @bind="submit.End" />
                                </td>
                            </tr>
                        </table>
                        <input type="time" class="textbox" @bind="submit.Break" readonly />
                        <br />

                        <input type="text" class="textbox" @bind="submit.Type" readonly>

                    </td>
                    <td class="right-td-client" style="width: 30%;">
                        <div style="margin: 0 auto; text-align: left;">
                            <button class="school-button-client" style="background-color: #a9d046; height: 75px; width: 75px;" type="button">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ssgo.svg" style="width: 50px;"><div>@ssgo</div>
                            </button>
                            <select class="textbox" @bind="Name" style="width: calc(100% - 90px);" required>
                                <option selected>Predstavnik / Voditelj</option>

                                @foreach (var varteacher in ssgoteachers)
                                {
                                    <option>@varteacher.Title @varteacher.Firstname.Substring(0, 1). @varteacher.Surname</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <textarea style="height: 100px; resize: none;" class="textbox" placeholder="Note" @bind="submit.Note" readonly></textarea>
            <button type="submit" class="login-button-client" formaction="/Thank-you">SHRANI</button>
        </form>
    </div>
</div>

@code
{
    [Parameter]
    public string submitId { get; set; }

    string ers, ssd, gim, ssgo, Name = "";

    Date date = new Date();
    Submit submit = new Submit();
    Teacher teacher = new Teacher();
    List<Date> dates = new List<Date>();
    List<Submit> submits = new List<Submit>();
    List<Teacher> teachers = new List<Teacher>();
    List<Teacher> ssgoteachers = new List<Teacher>();

    protected override async Task OnInitializedAsync()
    {
        if (submitId == "0")
        {
            date.Term = DateOnly.Parse(DateTime.Today.ToShortDateString());
        }
        else
        {
            dates = await dateservice.GetAllDates();
            submits = await submitservice.GetAllSubmits();
            teachers = await teacherservice.GetAllTeachers();

            ssgoteachers = teachers.Where(varteacher => varteacher.SchoolId == 3).ToList();

            submit = submits.FirstOrDefault(varsubmit => varsubmit.Id.ToString() == submitId);
            date = dates.FirstOrDefault(vardate => vardate.Id == submit.Date);
        }
    }

    public async Task CheckSubmit()
    {
        await dateservice.UpdateDate(date);
        await submitservice.UpdateSubmit(submit);

        date = new Date();
        submit = new Submit();
        NavManager.NavigateTo("/SSGO/Submited-dates");
    }
}