@page "/Master/Sub-admins";

@inject NavigationManager NavManager;
@inject IJSRuntime JsRuntime;

@inject Services.IAdminService adminservice;
@inject Services.ISchoolService schoolservice;

@using Models

<nav class="navbar-master">
    <div class="container">
        <a href="/Master/All-dates" class="left-button"><div style="margin-top: 12px;">ALL<br />DATES</div></a>
        <a class="welcome-container">SUB ADMINS</a>
    </div>
</nav>

<div class="fullscreen" style="background-color: #ed1164">
    <div class="fullscreen-table">
        <table>
            <tr>
                <th style="width: calc(100% / 4);">Name</th>
                <th style="width: calc(100% / 4);">Title</th>
                <th style="width: calc(100% / 4);">Email</th>
                <th style="width: calc(100% / 4);">School</th>
            </tr>
            
            @foreach (var admin in admins)
            {
                <tr class="td-row" onclick="@EditAdminRow">
                    <td><p>@admin.Firstname.ToString() @admin.Surname.ToString()</p></td>
                    <td><p>@admin.Title</p></td>
                    <td><p>@admin.Email.ToString()</p></td>
                    <td><p>@schools.FirstOrDefault(varschool => varschool.Id == admin.SchoolId).?Name</p></td>
                </tr>
            }

        </table>
    </div>
</div>

@code
{
    List<Admin> admins = new List<Admin>();
    List<School> schools = new List<School>();
    protected override async Task OnInitializedAsync()
    {
        admins = await adminservice.GetAllAdmins();
        schools = await schoolservice.GetAllSchools();
    }

    public async void EditAdminRow()
    {
        
    }
}